<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> home page</title>

    <style>

        .rah{
              color:green;

              }

    </style>

</head>
<body bgcolor=#dwfadw>
<h1 > Running...</h1>
<center>
<h2 class="rah">  Enter measurements of flower below </h2>
<form method=POST>
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.sep_len.label }} {{ form.sep_len }}   <br> <br>
    {{ form.sep_width.label }} {{ form.sep_width }}   <br> <br>
    {{ form.pet_len.label }} {{ form.pet_len }}    <br> <br>
    {{ form.pet_width.label }} {{ form.pet_width }}    <br> <br>

    <font color="red"> {{ form.submit() }} </font> <br>  <br>   <br>   <br> <br> <br> <br> <br> <br> <br>




</form>



 </center>


<center> <font color="balck" size="6" >   <footer> @Aafaq Altaf</footer>  </font> </center>   </font>
</body>
</html>
